@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bebas+Neue&family=Dancing+Script&family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100&family=Merriweather:wght@700&display=swap');
/*
font-family: 'Akaya Telivigala', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Indie Flower', cursive;
*/

html, body {
    background-color: #3f51b5;
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    overflow-x: hidden;
}

a:link, a:visited {
    color: #eeeeee;
    text-decoration: underline;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: #eeeeee;
}
